.currency-container {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.currency-container h4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.currency-exchange-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

.exchange-from,
.exchange-to {
  width: 100%;
}

.exchange-from {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.exchange-from span {
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.exchange-to .input,
.exchange-from .input {
  width: 100%;
  outline: none;
  padding: 10px 0px 10px;
  border: none;
}

.exchange-from:hover {
  border-bottom: 2px solid black;
}

.exchange-to .input {
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
}

.currency-dropdown-container {
  width: 30%;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 16.5px 14px;
  position: relative;
}

.currency-dropdown-container:hover {
  border-bottom: 2px solid black;
  padding-bottom: 15.5px;
}

.currency-dropdown-button {
  display: flex;
  justify-content: space-between;
  width: 95%;
  cursor: pointer;
  align-items: center;
}
